<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/main.css" />
        <link rel="stylesheet" href="/stylesheets/contact.css" />
        <link rel="stylesheet" href="/stylesheets/admin.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&display=swap"
        />

        <title>Simply Kaitie</title>
        <link
            rel="icon"
            href="/images/onlySK.png"
            type="image/png"
            sizes="32x32 48x48 64x64"
        />
    </head>
    <body>
        <%-include('adminHeader')%>
        <div class="main-container">
            <div class="contact-container">
                <p class="contact-title">Admin New Post</p>
                                <p class="admin-verse">
                    13) For you formed my inward parts; you knitted me together
                    in my mother's womb. 14) I praise you, for I am fearfully
                    and wonderfully made. Wonderful are your works; my soul
                    knows it very well. <br /><em>Psalm 139</em>
                </p>

                <form
                    action=""
                    method="POST"
                    class="contact-form"
                    enctype="multipart/form-data"
                >
                    <label for="entryTitle">Title </label>
                    <input
                        type="text"
                        name="entry_title"
                        id="entryTitle"
                        placeholder="Title"
                        value="<%= (typeof selectedPost === 'undefined' ? '' : selectedPost.title) %>"
                        required
                    />
                    <label for="entryCategory">Category: </label>
                    <% if(typeof selectedPost === 'undefined'){ %>
                        <select id="entryCategory" name="entry_category" required>
                            <option value="" disabled selected>Select One</option>
                            <option value="Budget" >Budget</option>
                            <option value="Cooking" >Cooking</option>
                            <option value="Declutter" >Declutter</option>
                            <option value="Faith" >Faith</option>
                            <option value="Fitness" >Fitness</option>
                    </select>
<% } else { %>
                    <select id="entryCategory" name="entry_category" required>
                        <option value="" disabled <%= (selectedPost.category === 'undefined' ? 'selected' : '') %>>Select One</option>
                        <option value="Budget" <%= (selectedPost.category === 'Budget' ? 'selected' : '') %>>Budget</option>
                        <option value="Cooking" <%= (selectedPost.category=== 'Cooking' ? 'selected' : '') %>>Cooking</option>
                        <option value="Declutter" <%= (selectedPost.category === 'Declutter' ? 'selected' : '') %>>Declutter</option>
                        <option value="Faith" <%= (selectedPost.category === 'Faith' ? 'selected' : '') %>>Faith</option>
                        <option value="Fitness" <%= (selectedPost.category === 'Fitness' ? 'selected' : '') %>>Fitness</option>
                    </select>
                    <% } %>
                    <label for="image" class="input-file-label" id="fileLabel">
                        Add Img</label
                        >
                    <input
                    type="file"
                    name="image"
                    accept="image/*"
                    id="image"
                    class="input-file"
                    />
                    <% if (typeof selectedPost === 'undefined') { %>
                    <label for="entryContent">Content </label>
                    <textarea
                    name="entry_content"
                    id="entryContent"
                    cols="30"
                    rows="30"
                    ></textarea>
                    <% } else { %>
                                        <label for="entryContent">Content </label>
                    <textarea
                    name="entry_content"
                    id="entryContent"
                    cols="30"
                    rows="30"
                    ><%= selectedPost.content %></textarea>
                    <% } %>
                    <button class="contact-submit-btn" type="submit">
                        Submit
                    </button>
                </form>
                <a href="/admin" class="contact-submit-btn new-post-cancel">Cancel</a>
            </div>
        </div>
    </body>
</html>
